parameters:
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@1
    displayName: "File Transform: Stub Service Application Settings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOS100PermitServiceStubService/*.zip'
      fileType: 'json'
      targetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Azure App Deploy: S100-Permit-StubService"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      appType: webApp
      appName: "$(STUB_WEB_APP_NAME)"
      package: "$(Pipeline.Workspace)/UKHOS100PermitServiceStubService/UKHO.S100PermitService.StubService.zip"
           
  - task: FileTransform@1
    displayName: "File Transform: API Service Application Settings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOS100PermitServiceAPI/*.zip'
      fileType: 'json'
      targetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Azure App Deploy: S100-Permit-ApiService"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      appType: webApp
      appName: "$(WEB_APP_NAME)"
      package: "$(Pipeline.Workspace)/UKHOS100PermitServiceAPI/UKHOS100PermitServiceAPI.zip"
